body{
    background-image: url('fondo.png');
    background-size: cover;
    background-repeat : repeat-y;
      
}

header{
        font-family: 'Josefin Sans', sans-serif;
    color: white;   
    margin-top: 40px;
}

label{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

footer{
   color: white;
   text-align: center;
   font-size: smaller;
   margin-top: 100px;    
}